# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\object\movie-service\graduation-design-film-website\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
